version: "3.9"

services:
  app:
    environment:
      - DCES_CRON_CONTRIBUTIONS=-
      - DCES_CRON_FDC=-
    env_file: app.env
    networks:
      local-container-network:
        aliases:
          - laa-dces-integration-application-adaptor

    ports:
      - "8088:8088"
      - "8099:8099"
      - "8183:8183"
    command: java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8183 -jar app.jar

networks:
  local-container-network:
    driver: bridge
    name: local-container-network